body {
    background-color: #0E1014
    
}

header {

    
    margin-top: 20px;
    margin-bottom: 20px;
}



form{
    text-align: center;
    margin-top: 50px;
}

input {
    width: 400px;
    height: 40px;
    margin: 5px auto;
    display: inline-block;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    font-size: 16px;

}

input[type:checkbox]{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 5px;
    border: none;
}

 textarea {  margin: 5px auto;
    display: inline-block;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    font-size: 16px;}

label {
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 16px;

}