header img {
    margin: 10px;
}


body {
    background-color: #0E1014;
}


h1 span {

    color: #9747FF;
    text-align: center;
    font-size: 45px;
    font-family: "Unbounded";

}

h1 {

    color: #FFFFFF;
    text-align: center;
    font-size: 45px;
    margin: 50px auto;
    font-family: "Unbounded";
    font-weight: bold;
}

p {

    color: #FFFFFF;
    text-align: center;
    margin: 50px;
    font-family: "Poppins";
    font-weight: bold;
}


a {

    background-color: #9747FF;
    display: block;
    color: #FFFFFF;
    height: 66px;
    width: 340px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 66px;
    margin: 30px auto;
    font-family: "Poppins";
}

a:hover {

    background-color: #8233E8;


}



img {
    display: block;
    margin: 0 auto;
    
}